.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles for the search container */
.search-container {
  position: relative;
}

/* Styles for the search input field */
.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Styles for the search results list */
.search-results {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

/* Styles for each search result item */
.result-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  cursor: pointer;
}

.result-item:last-child {
  border-bottom: none;
}

/* Styles for the selected search result item */
.result-item.active {
  background-color: #f0f0f0;
}
@keyframes sparkling {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.sparkling-text {
  animation: sparkling 2s ease infinite;
}




